:root {
  /* sizes */
  --size-xxs: .5rem;
  --size-xs: .75rem;
  --size-sm: .85rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* primary colors */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secondary colors */
  --Red: hsl(0, 87%, 67%);

  /* Neutral colors */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  line-height: calc(1em + .5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid red;
}

/* ----- media queries -----*/
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    border: 2px solid green;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    border: 2px solid goldenrod;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 2px solid orange;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    border: 2px solid pink;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    border: 2px solid teal;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    border: 2px solid wheat;
  }
}