:root {
  /* sizes */
  --size-xxs: .5rem;
  --size-xs: .75rem;
  --size-sm: .85rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* primary colors */
  --Cyan: #2acfcf;
  --Dark-Violet: #3b3054;

  /* Secondary colors */
  --Red: #f46262;

  /* Neutral colors */
  --Gray: #bfbfbf;
  --Grayish-Violet: #9e9aa7;
  --Very-Dark-Blue: #35323e;
  --Very-Dark-Violet: #232127;
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  line-height: calc(1em + .5rem);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;

}

h1,
h2,
h3,
h4,
h5 {
  color: var(--Very-Dark-Blue);
  font-weight: 700;
}

p {
  color: var(--Grayish-Violet);
  font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}


a {
  display: inline-block;
  text-decoration: none;
  color: var(--Grayish-Violet);
}

input {
  display: inline-block;
  outline: none;
  border: none;
}

/* --- Utils Classes --- */
.btn {
  display: inline-block;
  padding: 0;
  border: none;
  background: var(--Cyan);
  cursor: pointer;
  padding: .5em 1.7em;
  font-size: var(--size-xs);
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;

}

/* ----------------------- */
/* --- Header Styling --- */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo a {
  display: block;
}

.logo img {
  width: 70%;
}

.nav__menu {
  display: none;
}

.nav__link {
  transition: all .3s ease;
}

.nav__link:hover {
  color: var(--Dark-Violet);
}

.signUp:hover {
  color: #fff;
  transform: scale(1.01);
}

.nav__bar i {
  font-size: var(--size-2xl);
  font-weight: 900;
}

/* --- End Header --- */

/* --- Hero section Styling --- */
/* #hero {
  border: 2px solid crimson
} */

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.hero__img img {
  max-width: 125%;
}

.hero__text {
  margin-top: 1rem;
  text-align: center;
}

.hero__text h1 {
  font-size: var(--size-4xl);
}

.hero__text p {
  margin-top: .5rem;
  font-size: var(--size-sm);
  max-width: 60ch;
}

.hero__text a {
  margin-top: .5rem;
  font-size: var(--size-sm);
}

/* --- End Hero --- */

/* --- featuring Styling --- */
#featuring {
  background-color: #e0daed93;
  margin-top: 7rem;
  z-index: 100;
}

.featuring {
  padding: 1rem;
  position: relative;
}

.inputs__bar {
  background: url(/images/bg-shorten-mobile.svg);
  background-color: var(--Dark-Violet);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: -75px;

}

.links__input input {
  width: 100%;
  background-color: #fff;
  padding: .5rem;
  border-radius: 5px;
  font-size: var(--size-sm);
}

.links__input input::placeholder {
  color: var(--Grayish-Violet);
  font-family: inherit;
  font-weight: 500;
  font-size: var(--size-sm);
}

.links__btn {
  border-radius: 5px;
  font-weight: 700;
  font-size: var(--size-sm);
}

.featuring__title,
.featuring__description {
  text-align: center;
}

.featuring__title {
  font-size: var(--size-2xl);
}

.featuring__description {
  margin-top: .5rem;
  font-size: var(--size-sm);
}

.featuring__cards {
  outline: 2px solid teal;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.cardTwo::before,
.cardThree::before {
  content: '';
  background-color: var(--Cyan);
  height: 4rem;
  width: 5px;
  position: absolute;
  top: -4rem;
  z-index: -1;
}

.card__img {
  background-color: var(--Dark-Violet);
  padding: 1.2rem;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  max-width: 40%;
}

.card__title {
  font-size: var(--size-lg);
}

.card__description {
  margin-top: 1rem;
  font-size: var(--size-sm);
  text-align: center;
}

/* --- End featuring  --- */

/* --- Header Styling --- */

/* --- End Header --- */