/* ----- media queries -----*/
/* === xs === */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
    border: 2px solid green;
  }

  /* --- Hero section Styling --- */
  .hero__img img {
    max-width: 120%;
  }

  .hero__text h1 {
    font-size: var(--size-5xl);
  }

  .hero__text p {
    font-size: var(--size-base);
  }

  .hero__text a {
    font-size: var(--size-base);
  }

  /* --- End Hero --- */
}

/* === sm === */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    border: 2px solid goldenrod;
  }

  /* --- Header Styling --- */
  .nav__bar i {
    font-size: var(--size-3xl);
  }

  /* --- End Header --- */

  /* --- Hero section Styling --- */

  /* --- End Hero --- */
}

/* === md === */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 2px solid orange;
  }

  /* --- Header Styling --- */
  .header {
    justify-content: flex-start;
    gap: .6rem;
  }

  .logo img {
    width: 85%;
  }

  .nav__menu {
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid orange; */
  }

  .nav__link {
    /* border: 2px solid crimson; */
    font-size: var(--size-xs);
    margin-right: .8rem;
    font-weight: 700;
  }

  .nav__btn {
    margin-left: auto;
  }

  .login {
    background: none;
    color: var(--Grayish-Violet);
    margin-right: 0;
  }

  .signUp {
    margin-right: 0;
  }

  .nav__bar {
    display: none;
  }

  /* --- End Header --- */

  /* --- Hero section Styling --- */
  #hero {
    border: 2px solid crimson
  }

  .hero__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .hero__img {
    order: 2;
  }

  /* .hero__img img {
    max-width: 120%;
  } */

  .hero__text {
    text-align: left;
  }

  .hero__text h1 {
    font-size: var(--size-4xl);
  }

  .hero__text p {
    margin-top: 1.5rem;
  }

  .hero__text a {
    margin-top: 1.5rem;
  }

  /* --- End Hero --- */
}

/* === lg === */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    border: 2px solid pink;
  }

  /* --- Header Styling --- */
  .header {
    gap: 1rem;
  }

  .logo img {
    width: 90%;
  }

  .nav__link {
    font-size: var(--size-sm);
    margin-right: .9rem;
  }

  /* --- End Header --- */

  /* --- Hero section Styling --- */

  .hero__text h1 {
    font-size: var(--size-5xl);
  }

  /* --- End Hero --- */
}

/* === xl === */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    border: 2px solid teal;
  }

  /* --- Hero section Styling --- */
  .hero__content {
    gap: 4rem;
  }

  .hero__img img {
    max-width: 125%;
  }

  .hero__text h1 {
    font-size: var(--size-6xl);
  }

  .hero__text p {
    font-size: var(--size-lg);
  }

  .hero__text a {
    font-size: var(--size-lg);
  }

  /* --- End Hero --- */
}

/* === 2xl === */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    border: 2px solid wheat;
  }

  /* --- Header Styling --- */
  .header {
    gap: 1.5rem;
  }

  .logo img {
    width: 95%;
  }

  .nav__link {
    font-size: var(--size-base);
    margin-right: 1rem;
  }

  /* --- End Header --- */

  /* --- Hero section Styling --- */
  .hero__content {
    gap: 5rem;
  }

  .hero__img img {
    max-width: 130%;
  }

  .hero__text h1 {
    font-size: var(--size-7xl);
  }

  .hero__text p {
    font-size: var(--size-xl);
  }

  .hero__text a {
    font-size: var(--size-xl);
  }

  /* --- End Hero --- */
}